html {
  scroll-behavior: smooth;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  text-align: center;
  justify-content: center;
}

header nav a {
  color: black;
  margin-right: 50px;
  margin-left: 50px;
  text-decoration: none;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  align-content: center;
  text-align: center;
  padding: 5px;
}

main #Ingr {
    list-style: none;
    
}

main table {
}
footer {
  margin: auto;
  width: 80%;
  align-content: center;
  text-align: center;
  padding: 5px;
}
