#myButton {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease; /* Agregamos una transición a la propiedad transform */
}


.button-text {
  display: inline-block;
  transition: transform 0.3s ease; /* Agregamos una transición también al texto dentro del botón */
}

#myButton:hover .button-text {
  transform: scale(2); /* Escalamos el texto al 120% en el hover */
}